/*scroll suave*/
body {
    scroll-behavior:smooth;
  }

/*propiedades de caja*/
  *{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
/*fuente from google fonts
*{
    font-family: 'Nunito Sans', sans-serif;
}*/

* {
  font-family: 'Catamaran', sans-serif;
  font-family: 'Passion One', cursive;
  font-family: 'Work Sans', sans-serif;
}

label{
  text-transform: uppercase;
  color: white;
}

%titulos{
  text-transform: uppercase;
  display: inline-block;
}

a:link{
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 320px) {
  .artistas {
    background-color: #D3D3D3;
  }
}
