/*estilos del footer*/
$fondo-footer: #161a1d;

.footer{
    background-color: $fondo-footer;
    &__ul{
        list-style: none;
        &__liStyle{
            display: inline-block;
            margin-top: 5rem;
            padding: 1rem;
        }
    }
    &__p{
        color: #D6D6D6;
    }
}