/*estilo del hero del inicio*/
$cont-color: #E0E0E0;
$strong-color: #EBEBEB;
$color-p: #978887;
$color-p-columna: #ffe8d6;
$color-label: #a5a58d;

/*--index--*/ 
.hero{
    background-image: url(../media/fondo-main.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    display: grid;
    place-items: center;
    opacity: 90%;
        &__estilo-h1 {
            @extend .estilo-h1;
            border-bottom: solid 5px #eae0d5;
            margin-bottom: 3rem;
            text-align: right;
            text-transform: uppercase;
        }
        &__estiloP1 {
            @extend %p;
            color: $color-p;
            background-color: #4364753a;
            font-size: 1.8em; 
        }
        &__estiloP2{
            @extend %p;
            color: $color-p;
            background: linear-gradient(to left,#0a090885, #c6ac8f79 );
            font-style: italic;
            font-weight: bold;
            font-size: 1.5em;
        }

}
/*fondo del video*/
.video{
    background-color: $cont-color;
    padding-top: 1vh;
}

/*--galeria*/ 
.galeria{
    background-color:$cont-color;
    &__strong{
        @include strong;
    }
    &__h5{
        @extend .estilo-h5;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1vh;
        margin-top: 10vh;
    }
}

/*--pagina de artistas--*/ 
.artistas{
    background-image: url(../media/fondo-galeria.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__estilo-h1{
    @extend .estilo-h1;
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 15vh;
    }
    &__p{
        @extend %p;
        color: $color-p;
    }
    &__columna{
        &__h3{
            @extend .estilo-h3;
            text-align: left;
            text-transform: uppercase;
        }
        &__p{
            @extend %p;
            color: $color-p-columna;
            text-align: justify;
        }
    &__img{
        height: 40vh;
        width: auto;
        display: flex;
        justify-items: center;
        }
    }
}

.artistas__hr{
    @include _hr;
    color: #eae0d5;
    height: 4px;
}

/*--pagina de contactos--*/

.contactos{
    background-color: $cont-color;
    &__strong{
        @include strong;
        font-size: 1.5em;
        margin-left: 0;
    }
    &__div__p{
        @extend %p;
        color: $color-p-columna;
        text-decoration: none;
    }
    &__contenedor--izq{
        border: 1px solid $color-p-columna;
        background-color: #161A1D;
    }
    &__contenedor--der{
       border: 1px solid $color-p-columna;
       background-color: #161A1D;
    }

}

/*pagina de compras*/

.productos{
    @extend .contactos;
    height: auto;
    &__pArt{
        @extend %p;
        color: #6491a6;
        font-weight: bold;
        font-size: 1.3rem;
    }
    &__pTarifa{
        @extend %p;
        color: #000;
        font-weight: bold;
    }
}

.botones-contenedor{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #f1ebe4;
    &__label{
        color: #000 !important;
        font-weight: bold;
    }
    &__boton{
        height: 40px;
        width: 95px;
        padding: 1 1;
        margin-top: 0.5rem;
        border-radius: 8%;
        opacity: 100%;
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
        background-color: $color-label;
        margin-bottom: 1rem;
    }
    &__boton:hover{
        background-color: #6491a6;
        color: #fff;
    }
}