/*estilo del hero del inicio*/
$cont-color: #E0E0E0;
$strong-color: #EBEBEB;
$color-p: #ECE9E9;
$color-p-columna: #ECE9E9;
$color-label: #a5a58d;
$color-boton: #A4161A;
$color-boton-hover: #E5383B;

/*--index--*/ 
.hero{
    background-image: url(../media/fondo-main.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    display: grid;
    place-items: center;
    opacity: 90%;
        &__estilo-h1 {
            @extend .estilo-h1;
            border-bottom: solid 5px #eae0d5;
            margin-bottom: 3rem;
            text-align: right;
            text-transform: uppercase;
        }
        &__estiloP1 {
            @extend %p;
            color: $color-p;
            background-color: #4364753a;
            font-size: 1.8em; 
        }
        &__estiloP2{
            @extend %p;
            color: $color-p;
            background: linear-gradient(to left,#0a090885, #c6ac8f79 );
            font-style: italic;
            font-weight: bold;
            font-size: 1.5em;
        }

}
/*fondo del video*/
.video{
    background-color: $cont-color;
    padding-top: 1vh;
}

/*--galeria*/ 
.galeria{
    background-image: url(../media/fondo-galeria.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__estilo-h1{
        @extend .estilo-h1;
            font-weight: bold;
    }
    &__h5{
        @extend .estilo-h5;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1vh;
        margin-top: 10vh;
    }
}

/*--pagina de artistas--*/ 
.artistas{
    background-image: url(../media/fondo-artistas.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__estilo-h1{
    @extend .estilo-h1;
        font-weight: bold;
    }
    &__p{
        @extend %p;
        color: $color-p;
        font-weight: bold;
        font-size: 1.5rem;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.185), rgba(0, 0, 0, 0.39));
        padding-left: 2rem;
        padding-right: 2rem;
    }
    &__columna{
        &__h3{
            @extend .estilo-h3;
            text-align: left;
            text-transform: uppercase;
            font-weight: bold;
        }
        &__p{
            @extend %p;
            color: $color-p-columna;
            font-weight: bold;
            font-size: 1.5rem;
            text-align: justify;
        }
    &__img{
        height: 40vh;
        width: auto;
        display: flex;
        justify-items: center;
        }
    }
}

.artistas__hr{
    @include _hr;
    color: #999999;
    height: 4px;
}

/*--pagina de contactos--*/

.contactos{
    background-color: $cont-color;
    &__estilo-h1 {
        @extend .estilo-h1;
        font-weight: bold;
    }
    &__div__p{
        @extend %p;
        color: $color-p-columna;
        text-decoration: none;
    }
    &__contenedor--izq{
        border: 1px solid $color-p-columna;
        background-color: #161A1D;
    }
    &__contenedor--der{
       border: 1px solid $color-p-columna;
       background-color: #161A1D;
    }
    &__strong{
        text-transform: uppercase;
        color: $strong-color;
    }

}

/*pagina de compras*/

.productos{
    @extend .contactos;
    background: linear-gradient(to bottom, #161a1daf, #F5F3F4);
    height: auto;
    &__div-contenedor{
        border: 1px solid black;
    }
    &__estilo-h1 {
        @extend .estilo-h1;
        font-weight: bold;
    }
    &__estilo-h2{
        @extend .estilo-h2;
        font-weight: bolder;
    }
    &__pArt{
        @extend %p;
        color: #5A0C0D;
        font-weight: bold;
        font-size: 1.3rem;
    }
    &__pTarifa{
        @extend %p;
        color: #F5F3F4;
        font-weight: bold;
    }
}

.botones-contenedor{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #474747;
    &__label{
        color: #000 !important;
        font-weight: bold;
    }
    &__boton{
        height: 40px;
        width: 95px;
        padding: 1 1;
        margin-top: 0.5rem;
        border-radius: 8%;
        opacity: 100%;
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
        background-color: $color-boton;
        margin-bottom: 1rem;
    }
    &__boton:hover{
        background-color: $color-boton-hover;
        color: #fff;
    }
}

@media screen and (max-width: 320px) {
    .artistas {
        background-color: #D3D3D3;
        background-image: none;
    }
    .artistas__p{
        margin-top: 3vh;
        margin-bottom: 3vh;
        color: #0B090A;
        font-weight: bold;
        padding-left: 2rem;
        padding-right: 2rem;
        background:none;
    }
    .artistas__columna__p{
        color: #000;
    }
  }